body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}


#menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.menu-items {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.menu-items button {
    height: 3rem;
    font-size: clamp(12px, 2vw, 30px);
    min-width: 80px;
    font-style: italic;
    background: #cdf;
    letter-spacing: 2px;
}

#title {
    font-size: clamp(25px, 4vw, 80px);
    margin-bottom: 20px;
}

button {
    font-size: clamp(10px, 1.2vw, 20px);
    min-width: 80px;
    max-width: 200px;
    white-space: normal;
    word-break: break-word;
    text-align: center;
    padding: 10px 10px;
}

.buttonContainer {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.leftButtons {
    display: flex;
    gap: 10px;
}

.rightButtons {
    display: flex;
    gap: 10px;
}

.textDisplay {
    display: flex;
    gap: 10px;
    font-size: 13px;
}

#button1 {
    font-size: 18px;
    width: 160px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    border-width: 6px;
    border-color: #500;
}

#upgradeButton1 {
    height: 60px;
    background-color: #7f7;
    border-width: 4px;
    border-color: #0a0;
}

#upgradeButton2 {
    height: 60px;
    background-color: #4e4;
    border-width: 4px;
    border-color: #070;
}

#randomBackground {
    height: 60px;
    border-width: 5px;
}


#button1:hover:active {
    background-color: #f55;
}

#resetButton {
    font-size: 12px;
    height: 60px;
    background: crimson;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
}

#version {
    position: absolute;
    bottom: 10px;
    left: 10px;
}